<div class="panel panel-default">
        <div class="panel-body">
    
    <div class="container">
        

<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"><button type="submit" class="btn btn-default">Export</button></th>
          
        </tr>
      </thead>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">#Emp No</th>
        <th scope="col">Name</th>
        <th scope="col">Email Id</th>
        <th scope="col">Skill Name</th>
        <th scope="col">Skill Category</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>2001</td>
        <td>Otto</td>
        <td>otto@xyz.com</td>
        <td>BigData</td>
        <td>1</td>
      </tr>
         <tr>
          <th scope="row">2</th>
          <td>2011</td>
          <td>ted</td>
          <td>ted@xyz.com</td>
          <td>Analytics</td>
          <td>3</td>
          </tr>  
          <tr>
            <th scope="row">3</th>
            <td>2005</td>
            <td>Osla</td>
            <td>osla@xyz.com</td>
            <td>Testing</td>
            <td>3</td>
          </tr>
          <tr>
              <th scope="row">4</th>
              <td>2121</td>
              <td>Dave</td>
              <td>dave@xyz.com</td>
              <td>Datawarehousing</td>
              <td>2</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>3101</td>
                <td>pete</td>
                <td>pete@xyz.com</td>
                <td>Analytics</td>
                <td>1</td>
            </tr>
         </tbody>
       </table>
    </div>
  </div>
</div>
